/* Header */
nav {
  text-align: center;
  font-size: larger;
}

/* User Guide */
.guide {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 50px;
  /* bottom: 10%; */
  /* margin-bottom: 50px; */
  padding: 20px 30px;
  background-color: rgb(230, 229, 229);
  border: 2px solid grey;
  border-radius: 10px;
  overflow: hidden;
  /* width: 200px; */
  /* height: 200px; */
}

.close-btn {
  width: min-content;
  margin-left: auto;
  cursor: pointer;
  user-select: none;
  color: rgb(68, 68, 68);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 0 4px;
}

.bold {
  font-weight: bold;
}

section > .margin-bottom {
  margin-bottom: 40px;
}

/* Start Page */
.start-page {
  width: fit-content;
  margin: auto;
}
.start-page > button {
  background-color: rgb(209, 208, 208);
  padding: 10px 20px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: large;
  color: black;
}

/* Board */
.board {
  user-select: none;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

.row {
  user-select: none;
  display: flex;
}

.letter {
  user-select: none;
  border: 2px solid rgb(105, 103, 103);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1px 2px;
  height: 50px;
  width: 50px;

  /* padding: auto 0; */
  font-size: 1.6em;
}

.green {
  background-color: #77a66f;
}

.yellow {
  background-color: #e5d488;
}

.red {
  background-color: #c05b29;
}

.none {
  background-color: rgb(209, 208, 208);
}

/* Keyboard */
.keyboard {
  /* margin: 10px; */
  padding: 10px;
}
.line {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 3px;
}

.key {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(105, 103, 103);
  border-radius: 3px;
  background-color: rgb(209, 208, 208);
  height: 40px;
  width: 30px;
}

.key:active {
  background-color: grey;
}

.key.big {
  width: fit-content;
  padding: 0 5px;
  font-weight: bold;
}

.key.wrong {
  background-color: rgb(137, 137, 137);
  color: rgb(137, 137, 137);
}

/* Game Over */
.over {
  text-align: center;
  font-size: 2em;
  border-radius: 7px;
  padding: 5px;
  width: fit-content;
  margin: auto;
  /* font-weight: bold; */
}

.over.win {
  background-color: #77a66f;
}

.over.lose {
  background-color: #c05b29;
}

.restart {
  background-color: rgb(209, 208, 208);
  padding: 10px 20px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: large;
  color: black;
  margin: auto;
  display: block;
  margin-top: 30px;
}
